table{
    width: 100%;
}

tr:hover{
    background-color: white;
}

.index{
    width: 50px;
}

.task{
    width: 200px;
}

.check{
    width: 120px;
}

.done{
    width: 400px;
}

.edit{
    width: 120px;
}

.delete{
    width: 120px;
}

.save{
    border-color: #f4f4f4;
}